*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    font-family: "Nunito";
}

h1{
    font-size: 3rem;
    font-weight: 900;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items : center;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items : center;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.btn{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0px;
    cursor: pointer;
    width: max-content;
}